.btn {
  width: 22rem;
  height: 5rem;
  border-radius: 3rem;
  background: linear-gradient(#ff79da, #a16be0);
  display: inline-block;
  cursor: pointer;
  color: $color-text;
  text-decoration: none;
  margin-top: 2.5rem;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  &:hover {
    background: linear-gradient(
      rgb(255, 121, 218, 0.7),
      rgb(161, 107, 224, 0.7)
    );
  }
  @include tablet-only {
    width: 25rem;
    height: 6rem;
    font-size: 1.8rem;
    margin-top: 4.5rem;
  }
  @include desktop-only {
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    margin-top: 4rem;
  }

  &__commande {
    display: block;
    margin: 6rem auto;
  }
}
