.far {
  position: relative;
}
.far:hover {
  transition: opacity 200ms ease-in-out;
}
.far:hover::after {
  opacity: 0;
}
.far:hover::before {
  opacity: 1;
}
.far::after {
  opacity: 1;
  font-weight: 100;
  align-self: center;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\f004";
}
.far::before {
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}
