*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Shrikhand", sans-serif;
}

h2,
h3,
h4,
p,
.btn {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.w3c_validation {
  display: none;
}
