.picture {
  width: 100%;
  height: 44vh;
  background-size: cover;
  background-position: center;

  &--1 {
    background-image: url(../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  }
  &--2 {
    background-image: url(../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  }
  &--3 {
    background-image: url(../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  }
  &--4 {
    background-image: url(../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  }
  @include desktop-only {
    height: 28vh;
    background-size: cover;
    background-position: center;
  }
}

.menu__card {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: -3rem;
  border-radius: 3rem 3rem 0 0;
  padding-bottom: 1.5rem;
  @include desktop-only {
    margin-top: -5rem;
  }

  .menu__title {
    width: 95%;
    padding: 2rem;
    @include flexbox__space;
    align-items: center;
    h1,
    i {
      font-size: 2.4rem;
      font-weight: bold;
      cursor: pointer;
    }
    @include tablet-only {
      width: 50%;
      margin: 2rem auto;
      h1 {
        font-size: 3rem;
      }
    }
    @include desktop-only {
      width: 45%;
      margin: 2rem auto;
      h1,
      i {
        font-size: 4rem;
      }
    }
  }

  .menu__part {
    .menu__entries {
      margin: 2.5rem 0 2rem 1.5rem;

      h2 {
        font-size: 1.8rem;
        font-weight: 300;
      }
      .line {
        width: 5rem;
        height: 0.3rem;
        background: $color-tertiary;
        margin-top: 0.5rem;
      }
      @include tablet-only {
        width: 60%;
        margin: 3rem auto;
        text-align: center;
        .line {
          margin: auto;
          width: 10rem;
          margin-top: 0.5rem;
        }
      }
      @include desktop-only {
        h2 {
          font-size: 2.5rem;
        }
        .line {
          width: 12rem;
        }
      }
    }
  }
  .menu__full {
    @include desktop-only {
      @include flexbox__space;
      width: 100%;
      margin: auto;
      .menu__part {
        width: 33%;
      }
    }
  }
}

.menu__map {
  border-radius: 2rem;
  height: 7rem;
  width: 90%;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  margin: 0 auto 15px auto;
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: appearance 1s backwards;
}

.menu__description {
  margin-bottom: 0.8rem;
}

.menu__description h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.menu__price {
  @include flexbox__space;
}

.menu__price span {
  font-weight: bold;
  transition-duration: 500ms;
  margin-right: 0.4rem;
  font-size: 1.5rem;
}

.menu__price p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3rem;
}

.menu__map:nth-child(2) {
  animation-delay: 0.2s;
}

.menu__map:nth-child(3) {
  animation-delay: 0.4s;
}

.menu__map:nth-child(4) {
  animation-delay: 0.6s;
}

.menu__map:hover .menu__animation {
  width: 8rem;
  height: 8rem;
  border-radius: 0 2rem 2rem 0;
  right: 0;
}

.menu__map:hover .menu__animation i {
  transform: rotate(360deg);
}

.menu__map:hover span {
  margin-right: 7rem;
}

.menu__part {
  background-color: #f2f2f2;
  border-radius: 3rem;
}

.menu__animation {
  background-color: #99e2d0;
  @include flexbox__center;
  width: 8rem;
  height: 8rem;
  margin: -12px 0 0 0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: -8rem;
  top: 12px;
  transition-duration: 750ms;
  i {
    color: white;
    font-size: 20px;
    transition: transform 500ms 250ms;
    transform: rotate(0deg);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearanceDesktopTablet {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
